body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #fff;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

kbd {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  width: 24px;
  height: 24px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
  border-radius: 4px;
  background-color: #fff;
}

.board {
  display: grid;
  grid-template-columns: repeat(61, 8px);
  grid-template-rows: repeat(61, 8px);
  margin: 8px auto;
  max-width: 488px;
  border: 4px solid #fff;
}

.paddle {
  background-color: #fff;
}

.paddle.paddle__player {
  grid-column: 59 / span 1;
}

.paddle.paddle__computer {
  grid-column: 3 / span 1;
}

.ball {
  background-color: #fff;
}

.scores {
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  text-align: center;
}

.scores .divider {
  padding: 0 4px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 64px;
  width: 488px;
}

.intro .intro-title {
  margin-bottom: 48px;
}

.intro .intro-cta {
  margin-bottom: 96px;
  padding: 16px 32px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 8px;
  background-color: transparent;
}

.controls {
  margin: 0 auto;
  max-width: 488px;
  text-align: center;
}
